<%= image_tag "amifi.jpg", height: 350 %>
<br>

AmIFI is a personal project currently in progress. Today is <%= Date.current.in_time_zone("America/New_York").strftime("%Y-%m-%d") %>
<br>
<br>
You are now at <%= (@fi.percent_of_target * 100.0).round(2) %>% of the way to financial independence.
<br><br>

<b><%= monetize(@fi.spending) %></b> is the target FI figure,
based on following spending averages over the last 12 month period:
<br>

<%= monetize(@fi.spending / 25.0) %> annually.
<br>

<%= monetize(@fi.spending / 300.0) %> monthly.
<br><br>

<% if @fi.difference < 0 %>
  <% fi_diff_abs = @fi.difference.abs %>
  Your FI figure is short <%= monetize(fi_diff_abs) %>.
  <br><br>

  In order to achieve financial independence, you would need to do one of following:
  <br>

  <ul>
    <li>Add <%= monetize(fi_diff_abs / 300.0) %> monthly (<%= monetize(fi_diff_abs / 25.0 / 52.0) %> weekly)
    in form of passive income.</li>
    <li>Or downsize house with net gain of <%= monetize(fi_diff_abs) %>
    (caveats apply: 6% fee, capital gain tax, need to buy downsized home to live in, etc)</li>
  </ul>
  <br>

<% else %>
  YOU HAVE ACHIEVED FINANCIAL INDEPENDENCE! Go out and enjoy youur newfound financial independence!
  <br><br>

<% end %>

<% if @oldest_stale_reconciled_account %>
  For best results, ensure your active (non-closed) accounts are all up to date and reconciled!
  <br>
  One of your accounts, <%= @oldest_stale_reconciled_account.name %>,
  was last reconciled <%= ((Time.current - @oldest_reconciled_account.last_reconciled_at) / 1.day).to_i %>
  days ago.
  <% else %>
  No "stale" accounts found. Good job on keeping your active accounts up to date and reconciled!
<% end %>

